body{
    background-image: url("https://images.pexels.com/photos/7130498/pexels-photo-7130498.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}

#image1 {
    display:block;
    max-width:5000%;
    max-height:380px;
    padding:10px 0 0 10px;
    transition: 0.5s ease-out;
    margin: 0 auto;
    border-radius: 20px;
    cursor:pointer;
}

#image2{
    max-width:100%;
    height: auto;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
    margin-top:15px;
}

h1,.p{
    display:block;
    text-align:center;
    background-color:#e0d0ce;
}

#img-caption{
    display:block;
    text-align:center;
    margin:10px;
    font-size:20px;
    font-weight:bold;
}

fieldset{
    margin:5px;
    margin-top:40px;
    background-color:#e0d0ce;
}

img{
    display:block;
}

ul>li{
    margin:10px;
    padding:10px;
    padding-bottom:20px;
}

.wikipedia{
    font-size:18px;
    margin:10px;
    padding:10px;
}
